* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
.container{
    max-width: 100%;
    width: 85%;
    margin: 0 auto;
}
nav{
    align-items: center;
}
.sale{
    display: flex;
    padding-left: 410px;
    gap: 8px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 8px;
    justify-content: space-around;
}
.header-top{
    background-color: black;
}
a{
    color: white;
}
select{
    background-color: black;
    color: white;
    font-size: 14px;
    border: none;
}
.list-header li a{
    color: black;
    font-weight: 400;
    font-size: 21px;
    text-decoration: none;
}
.list-header li a:hover{
    border-bottom: 2px solid black;
    transition: all 200ms ease;
    /* font-size: 28px; */
}
.list-header{
    display: flex;
    align-items: center;
    gap: 48px;
    list-style: none;
}
.header-bottom a{
    color: black;
    text-decoration: none;
    font-weight: 800;
    font-size: 36px;
}
.header-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 90px;
}
.dropdown-wrapper{
    display: flex;  
}
.dropdown-wrapper a{
    font-weight: 400;
    font-size: 14px;
}
.modal{
    position: absolute;
    top: 40px;
    right: 0;
    background: #0000000A;
    backdrop-filter: blur(80px);
    color: white;
    border-radius: 10px;
    width: 220px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    display: none;
}
.dropdown-checkbox:checked + .user-icon + .modal {
  display: block;
  align-items: center;
  text-align: start;
}

.modal-icon {
  background: transparent;
  margin-right: 10px;
  font-size: 18px;
  min-width: 24px;
}

.modal-link{
  text-decoration: none;
  color: white;
  font-weight: 100;
}
.modal-list {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  display: flex;
  gap: 14px;
  padding-left: 10px;
  flex-direction: column;
}

.modal-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all .3s ease;
  text-align: start;
}

.user-icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  border-radius: 50%;
  font-size: 20px;
  background-color: transparent; 
  color: #333;  
  padding: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.dropdown-checkbox{
    display: none;
}
.bottom-right input{
    width: 243px;
    height: 38px;
    padding-left: 10px;
}
.icons-header-bottom{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 20px;
}
.search-icon{
    width: 24px;
    height: 24px;
    position: absolute;
    left: 1200px;
}
.bottom-right{
    display: flex;
    align-items: center;
}
.icons-header-bottom img{
    width: 24px;
    height: 24px;
}
.footer-left{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 24px;
}
footer{
    background-color: black;
    padding-top: 80px;
}
.email-footer-left{
    display: flex;
    align-items: center;
    position: relative;
    border: 2px solid white;
    color: white;
    width: 217px;
    height: 48px;
    padding-left: 20px;
}
.email-footer-left svg{
    position: absolute;
    left: 180px;
}
.email-footer-left input{
    background-color: black;
    border: none;
    font-weight: 400px;
    font-size: 16px;   
}
.footer-support{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.list-support{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 175px;
}
.list-support a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
}
.list-account{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.list-account a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
}
.footer-main{
    display: flex;
    gap: 87px;
}
.footer-right{
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: white;
    width: 250px;

}
footer .container{
    display: flex;
    gap: 87px;
}
.footer-right-mid{
    display: flex;
    gap: 10px;  
}
.right-mid-right{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer-right span{
    color: #FAFAFA;
}
.icons-footer{
    display: flex;
    justify-content: space-between;
}
.footer-bottom{
    position: relative;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    color: #ffffffa3;
    font-weight: 400;
    font-size: 16px;
    background-color: black;
    gap: 10px;
    height: 40px; 
    align-items: center;
}
.cart-top{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    /* padding-top: 100px; */
}
.category{
    margin-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 5px #0000000D, 0px 0px 5px #0000000A, 0px 0px 5px #0000000D, 0px 0px 5px #0000000D;
    height: 72px;
    align-items: center;
}
.monitor{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
    box-shadow: 0px 0px 5px #0000000D, 0px 0px 5px #0000000A, 0px 0px 5px #0000000D, 0px 0px 5px #0000000D;
    height: 72px;
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}
.price-span{
    padding-left: 20px;
}
.monitor-title{
    display: flex;
    align-items: center;
    gap: 8px;
}
.price-span{
    padding-right: 520px;
}
.quantity{
    position: absolute;
    right: 520px;
    background: white;
    border: 2px solid black;
    color: black;
    width: 72px;
    height: 44px;
    padding-left: 10px;
    padding-right: 10px;
}
.overall-price{
    padding-right: 10px;
}
.buttons button{
    width: 218px;
    height: 56px;
    background-color: white;
    border: 1px solid black;
    color: black;
}
.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 30px;
}